.popover {
  &__container {
    width: 400px;

    .ant-popover-inner {
      .ant-popover-title {
        .popover {
          &__title {
            width: 50%;
            font-weight: bold;
        
            &__wrapper {
              width: 100%;

              .flex-display;
              .justify-content(space-between);
              .align-items(center);
            }
          }

          &__resetLink {
            width: 50%;

            .flex-display;
            .justify-content(flex-end);
            .align-items(center);

            color: @black-color;
            cursor: pointer;

            &__icon {
              width: 12px;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .ant-popover-inner-content {
      .popover__content__wrapper {
        .popover {
          &__selectList {
            width: 100%;
            margin-top: 0.5rem;
            
            .flex-display(flex, column);
            .ant-checkbox-wrapper { margin-left: 0; }
            .ant-checkbox-wrapper + .ant-checkbox-wrapper { margin-top: 0.5rem; }
          }

          &__button {
            width: 100%;
            margin-top: 1rem;

            .flex-display;
            .justify-content(flex-end);
          }
        }
      }
    }
  }
}